<footer class="page-footer blue-grey lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="grey-text text-darken-4">scrumzy</h5>
          <p class="grey-text text-darken-4">Daily Standup Tracker.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-darken-4" href="#main-header">Back to Top</a></li>
            <li><a class="grey-text text-darken-4" href="/login">Login</a></li>
            <li><a class="grey-text text-darken-4" href="/signup">Signup</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container grey-text text-darken-4">
        © 2020 Dan Riches
        <a class="grey-text text-darken-4 right legal-link" href="/privacy">Privacy Policy</a>   
        <a class="grey-text text-darken-4 right legal-link" href="/terms">Terms of Use</a>     
      </div>
    </div>
</footer>