<header>
    <nav class="indigo darken-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/standup" class="brand-logo">Standup</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            <li><a href="/standup">Home</a></li>
            <li><a href="/about">About</a></li>        
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>           
            <li>
            <form action="/logout" method="POST">
                <button type="submit" class="btn btn-flat white-text indigo darken-4">Logout</button>
            </form>
            </li>
            
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/standup">Standup</a></li>
            <li><a href="/about">About</a></li> 
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>     
            <li>
            <form action="/logout" method="POST">
                <button type="submit" class="btn btn-flat white-text indigo darken-4">Logout</button>
            </form>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
  </header>