<%- include('../includes/head.ejs')%>
  </head>
  <body>
    <%- include('../includes/nav.ejs')%>
    <main>
        <section class="section">
            <div class="container">
                <h1>Standup</h1>
            </div>
        </section>
        
    </main>
<%- include('../includes/end.ejs')%>