<%- include('includes/head.ejs')%>
  </head>
  <body>
    <%- include('includes/nav.ejs')%>
    <main>
        <section class="section">
            <div class="container">
                <h4>Dashboard</h4>
                <div class="row">
                    <!--Card Begin-->
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Have Done</span>
                                <p>Here is where you can track what you have done. You can add, edit, and delete items that you have worked on and want to reference so that you can share at your daily standup.</p>
                            </div>
                            <div class="card-action">
                                <a href="/havedone">View Have Done</a>
                            </div>
                        </div>
                    </div>

                    <!--Card Begin-->
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Working On</span>
                                <p>Here is where you can track what you are working on. You can add, edit, and delete items that you will worked on and want to reference so that you can share at your daily standup.</p>
                            </div>
                            <div class="card-action">
                                <a href="/workingon">View Working On</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Begin Row-->
                <div class="row">
                    <!--Card Begin-->
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Blockers</span>
                                <p>Are you blocked by anything? Here you can add, edit, and delete any items that are blocking you and want to reference so that you can share at your daily standup.</p>
                            </div>
                            <div class="card-action">
                                <a href="/blockers">View Blockers</a>
                            </div>
                        </div>
                    </div>

                    <!--Card Begin-->
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Standup</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="/standup">View Standup</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<%- include('includes/end.ejs')%>