<%- include('includes/head.ejs')%>
  </head>
  <body>
    <%- include('includes/nav.ejs')%>
    <main>
        <section class="section">
            <div class="container">
                <h1>Dashboard</h1>
                <div class="row">
                    <!--Card Begin-->
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Have Done</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="/havedone">View Have Done</a>
                            </div>
                        </div>
                    </div>

                    <!--Card Begin-->
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Working On</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="/workingon">View Working On</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Begin Row-->
                <div class="row">
                    <!--Card Begin-->
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Blockers</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="/blockers">View Blockers</a>
                            </div>
                        </div>
                    </div>

                    <!--Card Begin-->
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Standup</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="/standup">View Standup</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<%- include('includes/end.ejs')%>