/** HERO SECTION */

#hero {
  height: calc(100vh - 64px);
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.86),
      rgba(255, 255, 255, 0.86)
    ),
    url("../img/laptop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero h1 {
  margin-bottom: 0;
}

#hero h5 {
  margin: 0 0 30px 0;
}

/** MISC */
#about,
#marketing,
#cta {
  padding: 100px 0;
}

#hero,
#about .container,
#cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.heading-margin {
  margin-bottom: 30px;
}

/** Input Fields***/
.input-field .prefix.active {
  color: #1a237e;
  border-color: #1a237e;
  box-shadow: 0 1px 0 0 #1a237e;
}

input#password.validate:focus,
input#email.validate:focus,
input#blockers.validate:focus,
input#workingon.validate:focus,
input#havedone.validate:focus {
  border-color: #1a237e;
  box-shadow: 0 1px 0 0 #1a237e;
}

input#password.validate:focus + label,
input#email.validate:focus + label,
input#blockers.validate:focus + label,
input#blockers.validate:focus + label,
input#workingon.validate:focus + label,
input#havedone.validate:focus + label {
  color: #1a237e;
}

/** STANDUP LIST ITEMS */
.delete-form {
  display: inline;
}

.standup-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/** EDIT AND DELETE ICONS GROUP */
.action-icons {
  display: flex;
  align-items: center;
}

.action-icons a {
  display: flex;
  align-items: center;
}

/** MEDIA QUERIES */
@media (max-width: 600px) {
  #hero {
    height: calc(100vh - 56px);
  }

  .point {
    margin-bottom: 50px;
  }
}
